* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #888;
  line-height: 1.6;
  overflow-x: hidden;
}

nav {
  padding: 0px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  position: relative;
  height: 83px;
  /* position: fixed;
    width: 100%; */
}

.logo {
  color: #fff;
  padding: 20px 0;
  text-align: left;
}
img {
  width: auto;
  max-width: 100%;
  vertical-align: middle;
}
nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}
.menu-icon {
  display: none;
}

.menu-icon i {
  color: #000;
  font-size: 18px;
  border: 1px solid #78829b;
  padding: 7px 11px;
  border-radius: 4px;
  background-color: #fff;
}
@media (max-width: 992px) {
  nav ul {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    flex-direction: column;
    background: #fff;
    gap: 0;
    overflow: hidden;
  }
  nav {
    justify-content: space-between;
  }
  nav ul li {
    padding: 0px;
  }
  .menu-icon {
    display: block;
  }
  #menuList {
    transition: all 0.5s;
  }
  nav ul li a {
    text-decoration: none;
    color: #78829b;
    font-size: 13px;
    font-weight: 500;
    padding: 0 0;
    border-radius: 25px;
    background-color: transparent;
    margin-left: 10px;
  }

  nav ul {
    align-items: normal;
  }
}

@media (max-width: 991px) {
  nav {
    background: transparent;
    /* padding: 0px 20px; */
  }
  nav ul {
    gap: 10px;
  }
  .content-top {
    display: none;
  }
}
.site {
  overflow: hidden;
}
.header {
  background: url(images/bg_header.jpg) center center no-repeat;
  min-height: 340px;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  background-size: cover;
  background-attachment: fixed;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 995px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1201px) {
  .container {
    width: 1170px;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.header__text {
  padding: 350px 0 200px 0;
  text-align: center;
}
.header__text h2 {
  margin-bottom: 30px;
  color: #fff;
  line-height: 60px;
  font-size: 60px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: -0.8px;
}
.header__text p {
  font-weight: 300;
  color: #fff;
  font-size: 18px;
  text-transform: none;
}
p {
  margin: 0 0 10px;
}
.header__text_bottom {
  margin-top: 85px;
  padding-bottom: 20px;
}
.header__text_bottom a {
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: none;
  color: #222;
  display: inline-block;
  background-color: #fff;
  border: 2px solid #fff;
  font-weight: 600;
  padding: 15px 60px;
  border-radius: 30px;
  text-align: center;
  line-height: 1;
  text-shadow: none;
  text-transform: capitalize;
  white-space: nowrap;
  transition: all 0.4s ease;
  font-size: 13px;
  text-transform: uppercase;
}
.header__text_bottom a:hover {
  color: #0a7924;
}
/* write a media query */
@media (max-width: 992px) {
  .header {
    max-height: 90vh;
  }
  .header__text {
    padding: 120px 0;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .header {
    max-height: 90vh;
  }
  .header__text {
    padding: 100px 0;
    text-align: center;
  }
  .header__text_bottom {
    margin-top: 30px;
    padding-bottom: 20px;
  }
  .header__text h2 {
    font-size: 50px;
  }
}
.demo.home {
  padding: 70px 0 0 0;
  background: #f5f5f5;
  border-bottom: 1px solid #ebebeb;
  position: relative;
  padding-bottom: 33px;
}
.content-text {
  padding-top: 50px;

  margin-bottom: 76px;
}
.demo .content-text h2 {
  font-size: 36px;
  color: #323232;
  font-weight: 400;
  text-transform: none;
  letter-spacing: -0.8px;
}
.demo .content-text p {
  font-weight: 300;
  font-size: 16px;
  color: #6b6b6b;
  line-height: 30px;
}
.header-box {
  width: 100%;
  height: 500px;
  position: relative;
  transition: background-position 3s ease;
  box-shadow: 0 0 5px 0 rgba(51, 51, 51, 0.35);
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.demos1 {
  background-image: url(images/Homepage-01.jpg);
}

.demos2 {
  background-image: url("images/Homepage-02_V2.jpg");
}
.demos3 {
  background-image: url("images/Homepage-01.jpg");
}

.header-box:hover {
  background-position: center bottom;
}

.rows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
#demo {
  padding-top: 0;
  padding-bottom: 30px !important;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.text-center {
  text-align: center;
}
.title-special {
  display: inline-block;
  position: relative;
  margin-bottom: 40px;
}
.title-special .amount {
  font-size: 189px;
  font-weight: 700;
  color: #333;
  line-height: 1;
}
.title-special .status {
  font-size: 40px;
  font-weight: 700;
  display: block;
  color: #333;
  margin-top: -20px;
  text-transform: uppercase;
}
.core-sub-title {
  font-size: 16px;
  line-height: 30px;
  color: #333;
}
.core-sub-title {
  padding-bottom: 0;
  padding-top: 1rem;
  margin: 0 auto 45px;
  color: #666;
  text-align: center;
  width: 75%;
  font-size: 16px;
}
.header-box > a {
  display: block;
}
#demo .header-box a span {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%);
  font-size: 14px;
  text-transform: capitalize;
  background: transparent;
  border: 4px solid #fff;
  padding: 5px 10px;
  color: #fff;
  font-weight: 500;
  z-index: 10;
  right: 0;
  opacity: 0;
  max-width: 135px;
  text-align: center;
  /* border-radius: 30px; */
}
.hot {
  background: #e13e3e;
  color: #fff;
  text-transform: uppercase;
  z-index: 2;
  position: absolute;
  top: -20px;
  right: 20px;
  border-radius: 50% 50%;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0 15px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}
#demo .header-box:hover a span {
  opacity: 1;
}
#demo .header-box a span:hover {
  background: #fff;
  color: black;
}
.new {
  color: #fff;
  text-transform: uppercase;
  z-index: 2;
  background: #79b434;
  position: absolute;
  top: -20px;
  right: 20px;
  border-radius: 50% 50%;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0 15px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}
.demo {
  position: relative;
}
.demo p a {
  color: black;
  font-size: 18px;
  font-weight: 600;
}
.demo p {
  text-align: center;
  margin-top: 20px;
}
.demo p a span {
  color: #79b434;
}
.demos1:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.demos2:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.demos3:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
